*.sw?
/build/
__pycache__/
*.py[cod]
CMakeCache.txt
CMakeFiles/
/doc/en/_build/
/doc/building.txt
.vscode/
.gitmessage
.ninja_deps
.ninja_log
.gitignore
CTestTestfile.cmake
cmake_install.cmake
build.ninja
hi.exe
libhobbes.a
hobbes.dir/
hobbes-pic.dir/
hi.dir/
hog.dir/
Debug/
*.vcxproj
*.vcxproj.filters
*.sln
